# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
Debug/
Release/

# NuGet
packages/
*.nupkg

# Logs
*.log
msbuild-output.log

# Misc
*.cache
*.pdb
*.obj
*.tmp
*.bak
Thumbs.db
.DS_Store
